@model IEnumerable<ProductCrudApp.Models.Product>

<h2>Products</h2>

<a asp-action="Create" class="btn btn-primary mb-3">Add Product</a>
<form method="get" asp-action="Index">
    <div class="input-group">
        <input type="text"
               name="searchTerm"
               value="@ViewBag.SearchTerm"
               class="form-control"
               placeholder="Search by name or category" />

        <button type="submit" class="btn btn-primary">
            Search
        </button>

        <!-- Reset Button -->
        <a asp-action="Index" class="btn btn-secondary">
            Reset
        </a>
    </div>
</form>


<table class="table mt-3">
    <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Price</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Category</td>
            <td>@item.Price</td>
            <td>@(item.IsActive ? "Active" : "Inactive")</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
</table>
@if (ViewBag.TotalPages > 1)
{
    <nav>
        <ul class="pagination">
            @for (int i = 1; i <= ViewBag.TotalPages; i++)
            {
                <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                    <a class="page-link"
                       asp-action="Index"
                       asp-route-page="@i"
                       asp-route-searchTerm="@ViewBag.SearchTerm">
                        @i
                    </a>
                </li>
            }
        </ul>
    </nav>
}

